<h1 style="color:red;align:centre;"> chap 2 </h1>


<h1 style="color:orange;">variable and simple data types   </h1>

#### Variables

In [1]:
# veriable name   =   value/massage/those you save in it.
massage           =   "hello! lets start the python with muddassir"

In [2]:
# print variable
print(massage)

hello! lets start the python with muddassir

In [3]:
a=23     #store integer value in variable name a
b="ali" #store string value in variable name b
c=2.3  #store float value in variable name c
d=True
e=False


<h1 style="color:green;">check type of veriable</h1>
<h1 style="color:blue;">   </h1>

In [4]:
type(a)

int

In [5]:
type(b)

str

In [6]:
type(c)

float

In [7]:
type(d)

bool

In [8]:
type(e)

bool

<h1 style="color:blue;">multiple value store in on veriabe</h1>

In [9]:
massage="muddassir","ali","rana"
integer=1,34,87
float_value=2.4,76.9

In [10]:
print(massage)
print(integer)
print(float_value)

('muddassir', 'ali', 'rana')
(1, 34, 87)
(2.4, 76.9)

<h1 style="color:yellow;">MIX value store in on veriabe</h1>

In [11]:
mix="ali",34,9.0
mix

('ali', 34, 9.0)

<h1 style="color:  ; ">    </h1>

<h1 style="color:red  ;  "> Try It Yourself   </h1>
2-1. Simple Message: Store a message in a variable, and then print that
message.

2-2. Simple Messages: Store a message in a variable, and print that message.
Then change the value of your variable to a new message, and print the new
message.

In [12]:
simple_message="excercise of book"
simple_message

'excercise of book'

In [13]:
newmessage="fahad ali"
newmessage

'fahad ali'

In [14]:
simple_message=newmessage
print(simple_message)

fahad ali

<h1 style="color:lightgreen; "> Strings   </h1>

<h1 style="color:skyblue  ; ">Changing Case in a String with Methods    </h1>

In [15]:
"my name is rana" #this is a string

'my name is rana'

In [16]:
# save string in veriable
a= "my name is rana"
# print veriable
a

'my name is rana'

In [17]:
a.capitalize()  #convert to capitalize

'My name is rana'

In [18]:
a.casefold()   #convert to casefold mean small leter

'my name is rana'

In [19]:
a.center(200)  #convert to  center

'                                                                                            my name is rana                                                                                             '

In [20]:
a.count("a")  #count the word or char in sentence

3

In [21]:
a.find("name")  #return the index of the value

3

In [22]:
a.index("is")  ##check the index of the value

8

In [23]:
a.lower()  #convert to small leter

'my name is rana'

In [24]:
a.title()    #convert to title case

'My Name Is Rana'

In [25]:
a.upper()  # convert to capital letter

'MY NAME IS RANA'

<h1 style="color:brown  ; ">Combining or Concatenating Strings    </h1>

In [26]:
fname="muddassir"
lname="ali"
age=20

In [27]:
fullname=fname+ " " + lname
print(fullname)

muddassir ali

In [28]:
info="my name is : "+fullname+ " and my age is: " + str(age)
info

'my name is : muddassir ali and my age is: 20'

## Adding Whitespace to Strings with Tabs or Newlines

In [29]:
print("languages: c python html ")

languages: c python html

In [30]:
print("languages:\n\t c \n\t python \n\t html ")

languages:
	 c
	 python
	 html

<h1 style="color:red;"

<h1 style="color:red;">Try It Yourself</h1>

2-3. Personal Message: Store a person’s name in a variable, and print a message to that person. Your message should be simple, such as, “Hello Eric,
would you like to learn some Python today?”

2-4. Name Cases: Store a person’s name in a variable, and then print that person’s name in lowercase, uppercase, and titlecase.

2-5. Famous Quote: Find a quote from a famous person you admire. Print the
quote and the name of its author. Your output should look something like the
following, including the quotation marks:
Albert Einstein once said, “A person who never made a
mistake never tried anything new.”

2-6. Famous Quote 2: Repeat Exercise 2-5, but this time store the famous person’s name in a variable called famous_person. Then compose your message
and store it in a new variable called message. Print your message.

2-7. Stripping Names: Store a person’s name, and include some whitespace
characters at the beginning and end of the name. Make sure you use each
character combination, "\t" and "\n", at least once.

Print the name once, so the whitespace around the name is displayed.
Then print the name using each of the three stripping functions, lstrip(),
rstrip(), and strip().

In [31]:
person="fahad"
print("hello! " + person)

hello! fahad

In [32]:
person="rana fahad"
print(person.capitalize())
print(person.upper())
print(person.title())
print(person.lower())

Rana fahad
RANA FAHAD
Rana Fahad
rana fahad

In [33]:
print("Albert Einstein once said, \"A person who never made a mistake never tried anything new.\" ")

Albert Einstein once said, "A person who never made a mistake never tried anything new."

In [34]:
famous_person="Albert Einstein once said"
massage=famous_person+ ",\"A person who never made a mistake never tried anything new.\" "
massage

'Albert Einstein once said,"A person who never made a mistake never tried anything new." '

In [35]:
person="---fahad ali  --- \n"

print(person.strip('-'))
print(person.rstrip('-'))
print(person.lstrip('-'))

fahad ali  ---

---fahad ali  ---

fahad ali  ---

In [36]:
# Python code to demonstrate working of  
# strip(), lstrip() and rstrip() 
str = "---geeksforgeeks---"
  
# using strip() to delete all '-' 
print ( " String after stripping all '-' is : ", end="\n\t") 
print ( str.strip('-') ) 
  
# using lstrip() to delete all trailing '-' 
print ( " String after stripping all leading '-' is : ", end="\n\t") 
print ( str.lstrip('-') ) 
  
# using rstrip() to delete all leading '-' 
print ( " String after stripping all trailing '-' is : ", end="\n\t") 
print ( str.rstrip('-') )

 String after stripping all '-' is :
	geeksforgeeks
 String after stripping all leading '-' is :
	geeksforgeeks---
 String after stripping all trailing '-' is :
	---geeksforgeeks

# Numbers
<h3 style="color:green;">Integers You can add (+), subtract (-), multiply (*), and divide (/) integers in Python.</h3>

In [37]:
2+3   # addition betwwen two number

5

In [38]:
#subtract between two number
2-2

0

In [39]:
#multiply between two number
2*2

4

In [40]:
#division between two number

10/5

# the answer of this cide is float if you wants to answer bin integer so you use a double //

2.0

In [41]:
10//5

2

In [42]:
# power nikalne k liye

2**3
3**3

27

In [43]:
# we use diffrent type of logic

print(2*4+3)

print((2*4)+5)

11
13

In [44]:
#modulo oprater  (%)

12%5

2

In [45]:
# equality

10==10

True

In [46]:
# not equal
10!=10

False

In [47]:
12>5   # greter than

True

In [53]:
12<5  #less than

False

Try It Yourself

2-8. Number Eight: Write addition, subtraction, multiplication, and division
operations that each result in the number 8. Be sure to enclose your operations
in print statements to see the results. You should create four lines that look
like this:
    
print(5 + 3)

Your output should simply be four lines with the number 8 appearing once
on each line.

2-9. Favorite Number: Store your favorite number in a variable. Then, using
that variable, create a message that reveals your favorite number. Print that
message.

In [58]:
print(5+3)
print(10-2)
print(16//2)
print(4*2)

8
8
8
8

In [64]:
FAV_NO=12
print(F"MY FAV NUMBER IS {FAV_NO} ")

MY FAV NUMBER IS 12