<h1 style="color:green;">Introducing Lists</h1>

In [1]:
print("my name is \"rana\" ")

my name is "rana"

In [2]:
num=[1,2,3,4,5]  #integer list
string=["ali","a","rana"]  #string list
floating=[1.4,6.8,63.4] # float value list

In [3]:
alist=[1,2,3,4,"ali"]

## Accessing Elements in a List

In [4]:
alist[1]   #get a value with list index

2

In [5]:
alist[4]

'ali'

In [6]:
alist[4][2]

'i'

In [7]:
type(alist) #check type

list

In [8]:
bicycle=["yamaha","honda","superpower","unique"]
bicycle

['yamaha', 'honda', 'superpower', 'unique']

In [9]:
print(bicycle[0].title())

Yamaha

In [10]:
message="my love bike is  " + bicycle[0].title() + " "

In [11]:
print(message)

my love bike is  Yamaha

<h1 style="color:red;">Try It Yourself</h1>

Try these short programs to get some firsthand experience with Python’s lists.
You might want to create a new folder for each chapter’s exercises to keep
them organized.

3-1. Names: Store the names of a few of your friends in a list called names. Print
each person’s name by accessing each element in the list, one at a time.

3-2. Greetings: Start with the list you used in Exercise 3-1, but instead of just
printing each person’s name, print a message to them. The text of each message should be the same, but each message should be personalized with the
person’s name.

3-3. Your Own List: Think of your favorite mode of transportation, such as a
motorcycle or a car, and make a list that stores several examples. Use your list
to print a series of statements about these items, such as “I would like to own a
Honda motorcycle.”

In [12]:
name=["abdullah","ali","rana","huzaifa","tayyab"]
print(name)
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])

['abdullah', 'ali', 'rana', 'huzaifa', 'tayyab']
abdullah
ali
rana
huzaifa
tayyab

In [15]:
print(f"i like my friend {name[0].title()} ")
print(f"i like my friend  {name[1].title()} ")
print(f"i like my friend  {name[2].title()}  ")
print(f"i like my friend { name[3].title()} ")
print(f"i like my friend  {  name[4].title()}  ")

i like my friend Abdullah
i like my friend  Ali
i like my friend  Rana
i like my friend Huzaifa
i like my friend  Tayyab

In [17]:
car=["honda","toyota","proton","bmw"]

In [19]:
print("i like a "+car[1]+" car")

i like a toyota car

In [20]:
car[2]="suzuki"

In [21]:
car

['honda', 'toyota', 'suzuki', 'bmw']

<h3>Changing, Adding, and Removing Elements</h3>

In [24]:
alist

[1, 2, 3, 4, 'ali']

In [25]:
alist.append(12)    # add a num in the list in end

In [26]:
alist

[1, 2, 3, 4, 'ali', 12]

In [29]:
b=alist.copy()   # copy the list
#method 1

In [30]:
b

[1, 2, 3, 4, 'ali', 12]

In [33]:
c=alist[::]# copy the list
#method 2

In [34]:
c

[1, 2, 3, 4, 'ali', 12]

In [35]:
b.clear()  #clear list complete

In [36]:
b

[]

In [37]:
b.append(23)

In [38]:
b

[23]

In [39]:
del b[0]   #delete element or list

In [40]:
b

[]

In [41]:
alist

[1, 2, 3, 4, 'ali', 12]

In [42]:
alist.count(1)  #count the value in  list

1

In [45]:
alist.extend("ali")  # add a value in list itrated

In [46]:
alist

[1, 2, 3, 4, 'ali', 12, 'a', 'l', 'i', 'a', 'l', 'i']

In [48]:
alist.index("ali")  #check element is which place

4

In [49]:
alist.insert( 1,33)  #add a value with index jahan add karni hain wahan kardo

In [54]:
alist.pop()   #pop out the last value in the list

'l'

In [55]:
alist.remove("a")   #remove a value in the list

In [56]:
alist

[1, 33, 2, 3, 4, 'ali', 12]

In [57]:
alist.reverse()   #reverse the list

In [58]:
alist

[12, 'ali', 4, 3, 2, 33, 1]

In [59]:
blist=[1,2,8,4,9,6,7,3]

In [60]:
blist.sort(reverse=True)   #sort the value in list accending and decending order

In [61]:
blist

[9, 8, 7, 6, 4, 3, 2, 1]

In [62]:
blist.sort(reverse=False)

In [63]:
blist

[1, 2, 3, 4, 6, 7, 8, 9]

<h1 style="color:brown;">Try It Yourself</h1>

The following exercises are a bit more complex than those in Chapter 2, but
they give you an opportunity to use lists in all of the ways described.

3-4. Guest List: If you could invite anyone, living or deceased, to dinner, who
would you invite? Make a list that includes at least three people you’d like to
invite to dinner. Then use your list to print a message to each person, inviting
them to dinner.


3-5. Changing Guest List: You just heard that one of your guests can’t make the
dinner, so you need to send out a new set of invitations. You’ll have to think of
someone else to invite.

•	 Start with your program from Exercise 3-4. Add a print statement at the
end of your program stating the name of the guest who can’t make it.

•	 Modify your list, replacing the name of the guest who can’t make it with
the name of the new person you are inviting.

•	 Print a second set of invitation messages, one for each person who is still
in your list.

3-6. More Guests: You just found a bigger dinner table, so now more space is
available. Think of three more guests to invite to dinner.

•	 Start with your program from Exercise 3-4 or Exercise 3-5. Add a print
statement to the end of your program informing people that you found a
bigger dinner table.

•	 Use insert() to add one new guest to the beginning of your list.

•	 Use insert() to add one new guest to the middle of your list

•	 Use append() to add one new guest to the end of your list.

•	 Print a new set of invitation messages, one for each person in your list.

In [116]:
guest=["abdullah",'ofuq','tayab']
print("i invite you in dinner plz come tonignt  "+ guest[0] + " ")
print("i invite you in dinner plz come tonignt  "+ guest[1] + " ")
print("i invite you in dinner plz come tonignt  "+ guest[2] + " ")

i invite you in dinner plz come tonignt  abdullah
i invite you in dinner plz come tonignt  ofuq
i invite you in dinner plz come tonignt  tayab

In [81]:

guest[2]="ali"

In [82]:

guest
print("i invite you in dinner plz come tonignt  "+ guest[0] + " ")
print("i invite you in dinner plz come tonignt  "+ guest[1] + " ")
print("i invite you in dinner plz come tonignt  "+ guest[2] + " ")

i invite you in dinner plz come tonignt  abdullah
i invite you in dinner plz come tonignt  ofuq
i invite you in dinner plz come tonignt  ali

In [83]:
guest.insert(1,"malik")
guest.insert(2,"adi")
guest.append("rana")

In [84]:
guest

['abdullah', 'malik', 'adi', 'ofuq', 'ali', 'rana']

In [85]:
print("i invite you in dinner plz come tonignt  "+ guest[0] + " "),print("i invite you in dinner plz come tonignt  "+ guest[1] + " "),print("i invite you in dinner plz come tonignt  "+ guest[2] + " "),
print("i invite you in dinner plz come tonignt  "+ guest[3] + " "),print("i invite you in dinner plz come tonignt  "+ guest[4] + " "),print("i invite you in dinner plz come tonignt  "+ guest[5] + " ")

i invite you in dinner plz come tonignt  abdullah
i invite you in dinner plz come tonignt  malik
i invite you in dinner plz come tonignt  adi
i invite you in dinner plz come tonignt  ofuq
i invite you in dinner plz come tonignt  ali
i invite you in dinner plz come tonignt  rana

(None, None, None)

Shrinking Guest List: You just found out that your new dinner table won’t
arrive in time for the dinner, and you have space for only two guests.

•	 Start with your program from Exercise 3-6. Add a new line that prints a
message saying that you can invite only two people for dinner.

•	 Use pop() to remove guests from your list one at a time until only two
names remain in your list. Each time you pop a name from your list, print
a message to that person letting them know you’re sorry you can’t invite
them to dinner.


•	 Print a message to each of the two people still on your list, letting them
know they’re still invited.

•	 Use del to remove the last two names from your list, so you have an empty
list. Print your list to make sure you actually have an empty list at the end
of your program.

In [91]:
print("saying that you can invite only two people for dinner")

guest.pop()

saying that you can invite only two people for dinner

'ali'

In [93]:
guest

['adi', 'ofuq']

In [94]:
del guest[0:2]

In [95]:
guest

[]

In [96]:
len(car)  # check length of list

4

<h1 style="color:yellow;">Try It Yourself</h1>

3-8. Seeing the World: Think of at least five places in the world you’d like to
visit.

•	 Store the locations in a list. Make sure the list is not in alphabetical order.
•	 Print your list in its original order. Don’t worry about printing the list neatly,
just print it as a raw Python list.

•	 Use sorted() to print your list in alphabetical order without modifying the
actual list.

•	 Show that your list is still in its original order by printing it.
•	 Use sorted() to print your list in reverse alphabetical order without changing the order of the original list.
•	 Show that your list is still in its original order by printing it again.
•	 Use reverse() to change the order of your list. Print the list to show that its
order has changed.
•	 Use reverse() to change the order of your list again. Print the list to show
it’s back to its original order.
•	 Use sort() to change your list so it’s stored in alphabetical order. Print the
list to show that its order has been changed.
•	 Use sort() to change your list so it’s stored in reverse alphabetical order.
Print the list to show that its order has changed.

3-9. Dinner Guests: Working with one of the programs from Exercises 3-4
through 3-7 (page 46), use len() to print a message indicating the number
of people you are inviting to dinner.

3-10. Every Function: Think of something you could store in a list. For example,
you could make a list of mountains, rivers, countries, cities, languages, or anything else you’d like. Write a program that creates a list containing these items
and then uses each function introduced in this chapter at least once.

In [106]:
see_world=["dubai","saudia","america","turkey","palestine"]

In [109]:
print(sorted(see_world))
see_world

['america', 'dubai', 'palestine', 'saudia', 'turkey']

['palestine', 'turkey', 'america', 'saudia', 'dubai']

In [111]:
#before
see_world.reverse()
see_world

['palestine', 'turkey', 'america', 'saudia', 'dubai']

In [112]:
#after
see_world.reverse()
see_world

['dubai', 'saudia', 'america', 'turkey', 'palestine']

In [114]:
see_world.sort()
see_world

['america', 'dubai', 'palestine', 'saudia', 'turkey']

In [117]:
len(guest)

3

In [118]:
cities=["karachi","multan","lahore","isb"]

In [119]:
sorted(cities)

['isb', 'karachi', 'lahore', 'multan']

<h1 style="color:blue;">Try It Yourself</h1>

3-11. Intentional Error: If you haven’t received an index error in one of your
programs yet, try to make one happen. Change an index in one of your programs to produce an
index error.
Make sure you correct the error before closing the program.

In [121]:
list1=[1,2,3,4,5]
list1[5]

IndexError: list index out of range

In [122]:
list1=[1,2,3,4,5]
list1[4]

5

In [123]:
list1=[1,2,3,4,5]
list1[-1]

5

In [124]:
list1=[1,2,3,4,5]
list1[-5]

1